<p data-height="265" data-theme-id="0" data-slug-hash="qPdQLB" data-default-tab="js,result" data-user="dgoodman" data-embed-version="2" data-pen-title="Copied Hash" class="codepen">See the Pen <a href="https://codepen.io/dgoodman/pen/qPdQLB/">Copied Hash</a> by Daniel Goodman (<a href="https://codepen.io/dgoodman">@dgoodman</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>